.testimonials__wrapper
    .testimonials
        .testimonials__item
            .testimonials__text “Recycling never looked so good 1”
            .testimonials__author
                p Johnny Johansson
                span Creative Director, Acne Studios
        .testimonials__item
            .testimonials__text “Recycling never looked so good 2”
            .testimonials__author
                p Johnny Johansson
                span Creative Director, Acne Studios
        .testimonials__item
            .testimonials__text “Recycling never looked so good 3”
            .testimonials__author
                p Johnny Johansson
                span Creative Director, Acne Studios
    .testimonials__navigate
    .testimonials__counter--wrapper
        .testimonials__counter
            span.testimonials__counter-int 1
            span.testimonials__counter-all