@import "../../libs/scss/mixins";
@import "../../blocks/base/variables";
@import "../../blocks/base/media-queries";

button {
  border: 0;
  outline: 0;
  cursor: pointer;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  outline: 0;
  @include trn(.2s);

  &--gray {
    min-height: 60px;
    padding: 16px 30px 20px;
    color: #fff;
    border-radius: 3px;
    background-color: #413c2d;
    border: 2px solid #413c2d;
    @include fm();
    font-size: 22px;
    line-height: 1.27;
    letter-spacing: -1px;

    &:hover {
      color: #413c2d;
      background-color: transparent;
    }
  }

}