section.section.preview
    .layout
        .preview__main.row
            .col-lg-3.col-md-6
                .preview__item
                    +img("src/blocks/preview/assets/img/preview1.jpg", "preview__image", "Product")
            .col-lg-3.col-md-6
                .preview__item
                    +img("src/blocks/preview/assets/img/preview2.jpg", "preview__image", "Product")
            .col-lg-3.col-md-6
                .preview__item
                    +img("src/blocks/preview/assets/img/preview3.jpg", "preview__image", "Product")
            .col-lg-3.col-md-6
                .preview__item
                    +img("src/blocks/preview/assets/img/preview4.jpg", "preview__image", "Product")