@import "../../libs/scss/mixins";
@import "../../blocks/base/variables";
@import "../../blocks/base/media-queries";

.section {
  overflow: hidden;

  &--offset-none {
    padding: 0;
  }

  &--small-offset {
    padding: 35px 0;
  }

  &--offset-top {
    padding-top: 110px;
  }

}