.cookie
    .cookie__contents
        p We use cookies to optimize your experience, analyze traffic, and personalize content. By using our site without disabling cookies, you consent to our use of them. #[a(href="#") Learn more]
    a(href="#").cookie__link.cookie__close #[+mixinSvg("22px", "16px", "arrow-right", "mission-menu__arrow")] Understood