section.section.your-design
    .layout
        .your-design__conent
            h3 Develop Your Design
            p Find out how we can help you develop your ideas.
        .your-design__button
            a(href="#").button.button--white Order samples