.slider-banner__wrapper
    .slider-banner
        .slider-banner__item
            +img("src/blocks/slider-banner/assets/img/slider-banner.png", "slider-banner__image", "Image Banner")
        .slider-banner__item
            video(src="src/blocks/slider-banner/assets/video/video.mp4" autoplay loop playsinline muted).slider-banner__video
        .slider-banner__item
            +img("src/blocks/slider-banner/assets/img/slider-banner.png", "slider-banner__image", "Image Banner")
    .slider-banner__navigate
