.slider-banner__wrapper
    .slider-banner
        .slider-banner__item
            +img("src/blocks/slider-banner/assets/img/slider-banner.png", "slider-banner__image", "Image Banner")
        .slider-banner__item
            +img("src/blocks/slider-banner/assets/img/slider-banner.png", "slider-banner__image", "Image Banner")
        .slider-banner__item
            +img("src/blocks/slider-banner/assets/img/slider-banner.png", "slider-banner__image", "Image Banner")
    .slider-banner__navigate
