extends ../templates/main

include ../blocks/product/product
include ../blocks/breadcrumbs/breadcrumbs

block variables
    - var title = 'Smile Plastics'

block content
    main.main

        section.section.contact
            .layout
                .row
                    .col-lg-6
                        .map
                            iframe(src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d133779.04690737172!2d-0.14227889355646647!3d51.461887356866086!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sde!4v1617360408939!5m2!1sen!2sde" style="border:0;" allowfullscreen="" loading="lazy").map__style

                    .col-lg-6
                        .contact__info
                            .contact__info-item
                                .contact__info-name General info
                                .contact__info-desc #[a(href="mailto:info@smile-plastics.com") info@smile-plastics.com]
                            .contact__info-item
                                .contact__info-name Press
                                .contact__info-desc #[a(href="mailto:press@smile-plastics.com") press@smile-plastics.com]
                            .contact__info-item
                                .contact__info-name Phone
                                .contact__info-desc #[a(href="tel:+447700900077") +44 7700 900077]
                            .contact__info-item
                                .contact__info-name Address
                                .contact__info-desc 24 Crofty Industrial Estate, #[br]
                                    | Penclawdd, Swansea, Wales, #[br]
                                    | SA4 3RS
                            .contact__info-item
                                .contact__info-name Opening Hours
                                .contact__info-desc Monday - Friday: 9am - 5pm
                            .contact__info-item
                                .contact__info-name
                                .contact__info-desc We are not open for micro-factory visits

                        .contact__form
                            form.form-custome
                                .form-custome__items
                                    .item-custome
                                        h4.form-custome__name Leave us a message
                                    .item-custome
                                        input(type="text" placeholder="Full Name")
                                    .item-custome
                                        input(type="text" placeholder="Email")
                                    .item-custome
                                        input(type="text" placeholder="Message")
                                .form-custome__button
                                    button.button.button--gray Send message




        include ../blocks/your-design/your-design
        include ../blocks/preview/preview
        include ../blocks/testimonials/testimonials