extends ../templates/main

include ../blocks/product/product
include ../blocks/breadcrumbs/breadcrumbs

block variables
    - var title = 'Smile Plastics'

block content
    main.main

        section.section.product-preview.default-offset
            .layout
                .row
                    .col-lg-6.col-md-6
                        .product-preview__image
                            a(href="src/blocks/food-platter/assets/img/food-platter1.jpg" data-effect="mfp-zoom-in").product-preview__popup
                                img(src="src/blocks/food-platter/assets/img/food-platter1.jpg").mfp-with-anim

                    .col-lg-6.col-md-6
                        .product-preview__info
                            .product-preview__name
                                h3 Food Platter
                                p Popular with foodies, and a real talking point is the Dapple range of chopping boards made from recycled chopping boards. Use for cutting, styling, and adding patterns in the kitchen.
                            .product-preview__option
                                .product-preview__items
                                    h4 Choose material:
                                    +checkInput(true, "Black Dapple ", "20mm", "£42", "src/blocks/food-platter/assets/img/food-platter-bg1.jpg")
                                    +checkInput("", "Blue Dapple", "20mm", "£42", "src/blocks/food-platter/assets/img/food-platter-bg2.jpg")
                                    +checkInput("", "Coral Dapple ", "20mm", "£32", "src/blocks/food-platter/assets/img/food-platter-bg3.jpg")
                                .product-preview__button
                                    button.button.button--gray Add to basket — £10

        section.section.offset-160
            .layout
                .row
                    .col-lg-6.col-md-6
                        .row.example
                            .col-lg-4.col-md-4
                                .example__image-wrapper.default-offset
                                    +img("src/blocks/food-platter/assets/img/food-platter2.jpg", "example__image", "Alba sample")
                            .col-lg-4.col-md-4
                                .example__image-wrapper.default-offset
                                    +img("src/blocks/food-platter/assets/img/food-platter3.jpg", "example__image", "Alba sample")
                            .col-lg-4.col-md-4
                                .example__image-wrapper.default-offset
                                    +img("src/blocks/food-platter/assets/img/food-platter4.jpg", "example__image", "Alba sample")

                    .col-lg-6.col-md-6
                        .content-text.default-offset
                            b Delivery
                            p Our samples take approximately 1-3 weeks to arrive within the UK and 2 weeks outside of the UK.
                            b COVID
                            p Due to COVID safe working practices and increased demand, samples are taking a little longer than usual, please bear with us and we apologise for any inconvenience.

        include ../blocks/your-design/your-design
        include ../blocks/preview/preview
        include ../blocks/testimonials/testimonials