extends ../templates/main

include ../blocks/product/product
include ../blocks/breadcrumbs/breadcrumbs

block variables
    - var title = 'Smile Plastics'
    - var cookies = true

block content
    main.main

        section.section
            include ../blocks/slider-banner/slider-banner

        section.section.section--offset-top
            .layout
                .heading
                    h3.heading__title Pages
                ul
                    li
                        a(href="home.html") Home
                    li
                        a(href="classic-main.html") Classic Main
                    li
                        a(href="alba.html") Alba
                    li
                        a(href="lookbook.html") Lookbook
                    li
                        a(href="product-lookbook.html") Product Lookbook
                    li
                        a(href="custom.html") Custom
                    li
                        a(href="mission.html") Mission
                    li
                        a(href="order.html") Order
                    +item("About", "about.html")
                    +item("FAQ", "faq.html")
                    +item("Limited Edition", "limited-edition.html")
                    +item("Careers", "careers.html")
                    +item("Become a partner", "become-partner.html")
                    +item("Covid", "covid.html")
                    +item("Samples", "samples.html")
                    +item("Sample Page", "sample-page.html")
                    +item("Cutting and Fabrication", "cutting.html")
                    +item("Panels", "panels.html")
                    +item("Plank Product", "plank-product.html")
                    +item("Food Platter ", "food-platter.html")
                    +item("Table", "table.html")
                    +item("Get Started", "get-started.html")
                    +item("Contact", "contact.html")
                    +item("Track order", "track-order.html")
                    +item("Delivery", "delivery.html")

        section.section.section--offset-equally
            .layout
                .popup
                    h3.popup__head Let’s keep in touch!
                    .popup__content
                        p Sign up for our newsletter and stay up to date on our products, projects and everything around Smile Plastics.
                        p Follow us on #[a(href="#") Instagram] for weekly updates.
                        p
                        p
                    .subscribe
                        form.subscribe__form
                            input(type="text" placeholder="Your Email")
                            button.button.button--white Subscribe

                    .sign
                        p We respect your privacy.



        include ../blocks/your-design/your-design
        include ../blocks/preview/preview
        include ../blocks/testimonials/testimonials

