extends ../templates/main

include ../blocks/product/product

include ../blocks/breadcrumbs/breadcrumbs

block variables
    - var title = 'Smile Plastics'

block content
    main.main

        section.section
            .banner-header
                +img("src/blocks/product/assets/img/product-image-full.jpg", "banner-header__image", "Banner")

        section.section.section--offset-top
            .layout
                .heading
                    h3.heading__title Limited edition
                .product__custome.default-offset
                    .row
                        .col-lg-6.col-md-6
                            +productDescMain("src/blocks/product/assets/img/product-image15-1.jpg", "2000mm × 1000mm panel")
                        .col-lg-6.col-md-6
                            .content-text.default-offset
                                b Coral Dapple
                                p Our new understated member of the popular Dapple family has arrived, welcome Coral. Do you think it looks like a cross-section of red cabbage or marble? We can’t decide. But we do think that it’s an appetising pattern to consume with your eyes.
                                p Foodies take note. Since it’s reclaimed from old chopping boards, Dapple has a back story with an appeal to anyone who’s interested in food and gastronomy.
                                p #[b New:] Available in Supersize!
                                a(href="#").button.button--gray Limited Edition Material

                .product__custome
                    .row
                        .col-lg-6.col-md-6
                            .product.default-offset
                                .product__image-wrapper
                                    +img("src/blocks/product/assets/img/product-image.jpg", "product__image-big", "Product")
                                .product__content-size
                                    a(href="#").button.button--gray Shop Sample
                                    p.product__text-size 240mm × 240mm
                        .col-lg-6.col-md-6
                            .product.default-offset
                                .product__image-wrapper
                                    +img("src/blocks/product/assets/img/product-image.jpg", "product__image-big", "Product")
                                .product__content-size
                                    a(href="#").button.button--gray Shop Sample
                                    p.product__text-size 100mm × 60mm
                        .col-lg-6.col-md-6
                            .product.default-offset
                                .product__image-wrapper
                                    +img("src/blocks/product/assets/img/product-image33.jpg", "product__image-big", "Product")
                                .product__content-size
                                    a(href="#").button.button--gray Shop Chopping board
                        .col-lg-6.col-md-6
                            .product.default-offset
                                .product__image-wrapper
                                    +img("src/blocks/product/assets/img/product-image.jpg", "product__image-big", "Product")
                                .product__content-size
                                    a(href="#").button.button--gray Shop Table

                    .product__button.product__button--center.product__button--light-offset
                        a(href="#").button.button--gray Shop Classics

        section.section
            .layout
                .materials.materials__offset-bottom.materials__border
                    .row
                        .col-lg-3.col-md-6
                            .materials__item
                                .materials__title
                                    h3 BENEFITS
                                .materials__description
                                    ul.materials__list
                                        li
                                            b Highly versatile
                                            span Wide range of applications from products and furniture to large-scale sculpture and construction
                                        li
                                            b Unique
                                            span Good consistency between panels, but each one will have its own distinct pattern
                                        li
                                            b Handmade
                                            span Each panel is composed by hand
                                        li
                                            b Sustainable
                                            span 100% recycled and 100% recyclable
                                        li
                                            b Easily cared for
                                            span The materials are easy to work with, clean and maintain
                                        li
                                            b No VOC off-gassing
                                            span All of the classics range of panels are made from chemically inert recycled plastics waste
                                            span We offer a cutting service, buy back scheme, and can make custom materials to order.
                        .col-lg-3.col-md-6
                            .materials__item
                                .materials__title
                                    h3 MATERIAL PROPERTIES
                                .materials__description
                                    ul.materials__list
                                        li
                                            span The materials in our classics range have the following properties:
                                        li
                                            b Hard, dense and rigid
                                        li
                                            span #[b 100% waterproof], rot-proof and strong weather resistance
                                        li
                                            b Solid and consistent,
                                            span allowing you to have a decorative edge
                                        li
                                            b Moderate scratch resistance,
                                            span and can be refinished
                                        li
                                            b UV resistance
                                            span (except our Alba material, which yellows in the sun but can be refinished)
                                        li
                                            span #[b Can be heat-formed] into shapes
                                        li
                                            b Matt/planed finish,
                                            span and can be polished
                                        li
                                            span #[b Can be machined, drilled, cut] (router, CNC), water cut and fixed using adhesives and screws
                                        li
                                            span #[b Custom Materials] (router, CNC), water cut and fixed using adhesives and screws
                        .col-lg-3.col-md-6
                            .materials__item
                                .materials__title
                                .materials__description
                                    ul.materials__list
                                        li
                                            span Note: we don’t generally recommend our materials for kitchen countertops
                                        li
                                            span There’s an almost limitless number of ways to use our materials, but the following applications have proven particularly successful:
                        .col-lg-3.col-md-6
                            .materials__item
                                .materials__title
                                    h3 Potential APPLICATIONS
                                .materials__description
                                    ul.materials__list
                                        li
                                            b Store and Exhibition Design
                                            span plinths, display counters, cabinets, signage, partitions and furniture
                                        li
                                            b Bar/Cafe/Restaurant Design
                                            span counter tops, table tops, partitions, bathrooms, toilet cubicles
                                        li
                                            b Office Design
                                            span table tops, shelving, seating, bathrooms
                                        li
                                            b Product and Furniture Design
                                            span from jewellery to homeware to dining tables, both indoor and outdoor
                                        li
                                            b Residential
                                            span bathroom panels, wet rooms, counter tops, splashbacks, cabinet doors, furniture and shelving
                                        li
                                            b Recreation
                                            span playgrounds, swimming pools and spas
                                        li
                                            b Bathroom Design
                                            span Bathroom panels, wet rooms, cabinet doors, splashbacks, counters, bathroom furniture and shelving

        section.section
            .layout
                .product__wrapper
                    .row
                        .col-lg-6
                            +productMain("src/blocks/product/assets/img/product-image.jpg", "Cutting", "We offer a cutting service on all our materials, from the production of semi-finished and finished parts to full product design and development. If you need help, give us a shout.", "Classic range")
                        .col-lg-6
                            +productMain("src/blocks/product/assets/img/product-image.jpg", "Fabrication", "We offer a range of finishes on all our material. You can choose from a large selection of edge finishes and details. If you have a particular finish you are looking for, do let us know.", "How it works")

        include ../blocks/catalog/catalog
        include ../blocks/your-design/your-design
        include ../blocks/preview/preview
        include ../blocks/testimonials/testimonials