extends ../templates/main

include ../blocks/product/product
include ../blocks/breadcrumbs/breadcrumbs

block variables
    - var title = 'Smile Plastics'

block content
    main.main

        section.section
            .banner-header
                +img("src/blocks/product/assets/img/product-image-full.jpg", "banner-header__image", "Banner")

        section.section.section--offset-top
            .layout
                .heading
                    h3.heading__title WE’RE ON A MISSION
                    p.heading__description At Smile Plastics, we have two main goals. Firstly, we want to create the most beautiful circular plastics in the world – 100% recycled, but also 100% recyclable materials. Secondly, we want to challenge ideas about “waste” and the system that creates it.
                    p.heading__description We go about achieving this in a number of ways which we want to explore with you below. Read on to find out about why we focus on plastic, our production process, how our current economic model needs to change and why we think plastic can be part of a green future.

            .mission-post
                .mission-post__image-wrapper
                    +img("src/blocks/mission/assets/img/mission-product-full1.jpg", "mission-post__image", "Mission Post")

                .layout
                    .row
                        .col-lg-6.col-md-6
                            h3.mission-post__head WE LOVE PLASTICS
                        .col-lg-6.col-md-6
                            .content-text.default-offset
                                p It’s true that plastic waste is having a serious impact on the environment and oceans. To get an idea of the scale of the problem, over 8 billion tonnes of plastic have been created to date whilst less than 10% is being recycled. The rest ends up in landfill or incineration, or worse still, it stays in our ecosystem, clogging up waterways.

            .mission-post
                .mission-post__image-wrapper
                    +img("src/blocks/mission/assets/img/mission-product-full2.jpg", "mission-post__image", "Mission Post")

                .layout
                    .row
                        .col-lg-6.col-md-6
                            h3.mission-post__head THE “WASTE” THAT POWERS OUR PLASTIC
                        .col-lg-6.col-md-6
                            .content-text.default-offset
                                p We’ve worked with a range of materials, but our real love is plastics. Ours are sourced from post-industrial, commercial and single-use consumer plastics – often from food and medical packaging. Plastics such as these are typically low value for the waste management industry and may end up in landfill or incineration plants. However, through design, we flip the value category on its head, creating high-value materials that people want to be around.

            .mission-post
                .mission-post__image-wrapper
                    +img("src/blocks/mission/assets/img/mission-product-full3.jpg", "mission-post__image", "Mission Post")

                .layout
                    .row
                        .col-lg-6.col-md-6
                            h3.mission-post__head WE SHOULD BE FIGHTING THE LINEAR MODEL, NOT PLASTIC
                        .col-lg-6.col-md-6
                            .content-text.default-offset
                                p Plastic is getting all the bad press, but the real problem is the economic model. The linear cycle, where plastics are produced for very short, single lives before being discarded, is completely unsustainable and pollutes our planet. Currently plastics are regarded as low value and disposable with short-term and badly managed lifecycles. But what if we created a circular ecosystem where a limited stock of plastics was recycled over and over?

            .mission-post
                .mission-post__image-wrapper
                    +img("src/blocks/mission/assets/img/mission-product-full4.jpg", "mission-post__image", "Mission Post")

                .layout
                    .row
                        .col-lg-6.col-md-6
                            h3.mission-post__head THE PRINCIPLES BEHIND OUR PROCESS
                        .col-lg-6.col-md-6
                            .content-text.default-offset
                                p Our process is based on craftsmanship and high-quality engineering. Whether it’s the sourcing and sorting of raw materials or the manufacturing of panels and finished products, everything is handled with care and much of what we do is by hand.
                                p To keep our carbon footprint low, our Smile Plastics equipment uses a fraction of the energy that traditional plastics processing machinery uses – and we’re constantly improving too. We also try to source our supplies as close as possible to our micro-factory in South Wales.
                                p We keep the processing of the materials as low-intensity as possible. This means that we not only have a lower carbon footprint but also that the plastics compounds don’t become denatured, and we can use them over and over again.

            .mission-post
                .mission-post__image-wrapper
                    +img("src/blocks/mission/assets/img/mission-product-full5.jpg", "mission-post__image", "Mission Post")

                .layout
                    .row
                        .col-lg-6.col-md-6
                            h3.mission-post__head THE CLOSED LOOP:#[br] EVERY END IS A NEW BEGINNING
                        .col-lg-6.col-md-6
                            .content-text.default-offset
                                p The plastics we make are 100% recyclable as well as 100% recycled. If you love your Smile Plastics material, don’t part with it – you can always hit repeat and keep coming back to it. Because they’re high in quality, designed to last and the materials are consistent throughout the panel, they can be easily refinished and reused for other projects.
                                b Our buy back scheme
                                p If you decide you no longer have use for them, you can recycle our materials through normal channels, but we also offer a buy back scheme. Please dismantle them first, and make sure they’re free of other materials like glues or metal fixings and then send them back. We will make them into new panels, closing the loop and ensuring the plastics can brighten someone else’s day in the future.


            .mission-post
                .mission-post__image-wrapper
                    +img("src/blocks/mission/assets/img/mission-product-full6.jpg", "mission-post__image", "Mission Post")

                .layout
                    .row
                        .col-lg-6.col-md-6
                            h3.mission-post__head A WONDER MATERIAL. WITH A GREEN FUTURE
                        .col-lg-6.col-md-6
                            .content-text.default-offset
                                p Plastic has an incredible provenance – having been formed from living organisms that fell to the sea floor millions of years ago, crushed by the earth into sediment and then transformed by bacteria into hydrocarbons, like crude oil, and then finally processed into plastics. Easy to manufacture, abundant, lightweight, malleable, waterproof and very durable, plastics are a wonder material that has become the go-to for so many sectors and uses.

            .mission-post
                .mission-post__image-wrapper
                    +img("src/blocks/mission/assets/img/mission-product-full7.jpg", "mission-post__image", "Mission Post")

                .layout
                    .row
                        .col-lg-6.col-md-6
                            h3.mission-post__head CHANGING PERCEPTIONS THROUGH DESIGN
                        .col-lg-6.col-md-6
                            .content-text.default-offset
                                p At Smile Plastics, we try to change attitudes by creating meaningful experiences. Narratives woven into the surface of our products honour our post-consumed “waste” materials. We believe that it’s a far more powerful story of recycling if you can tell it through the product itself.
                                p Of course, what we do is only a drop in the ocean. But we hope that the drop will create ripples that inspire others. Recycling plastics and elevating them into beautiful, durable, sustainable materials is only one part of the answer. But we think it’s an important one.

        section.section.section-gray
            .layout
                .row
                    .col-lg-6.col-md-6
                    .col-lg-6.col-md-6
                        ul.mission-menu
                            li
                                a(href="#") #[+mixinSvg("22px", "16px", "arrow-right", "mission-menu__arrow")] Ask question
                            li
                                a(href="#") #[+mixinSvg("22px", "16px", "arrow-right", "mission-menu__arrow")] Read FAQ
                            li
                                a(href="#") #[+mixinSvg("22px", "16px", "arrow-right", "mission-menu__arrow")] Shop samples

        include ../blocks/testimonials/testimonials