@import "../../libs/scss/mixins";
@import "../../blocks/base/variables";
@import "../../blocks/base/media-queries";

.socials__menu {
  display: flex;
  align-items: center;

  a:hover {
    opacity: .7;
  }

  li, a {
    line-height: 0;
    @include trn(.2s);
  }
  li:not(:last-child) {
    margin-right: 24px;
  }
}