header.header
    .layout
        .header__wrapper
            a(href="/").logo
                +img("src/blocks/header/assets/img/logo.svg", "logo__image", "Logo")
            .header__right-wrapper
                ul.header__menu.menu
                    li
                        a(href="#") Mission
                    li
                        a(href="#") Offerings
                    li
                        a(href="#") Lookbook
                        ul.sub-menu
                            li
                                a(href="#") Lookbook Lookbook Lookbook Lookbook
                            li
                                a(href="#") Lookbook
                            li
                                a(href="#") Lookbook
                    li
                        a(href="#") Order
                    li
                        a(href="#") Blog
                    li
                        a(href="#") Get Started
                        ul.sub-menu
                            li
                                a(href="#") FAQ
                            li
                                a(href="#") FAQ
                            li
                                a(href="#") FAQ
                            li
                                a(href="#") FAQ
                .header__search
                    button.header__search-button
                        +iconSvg("75px", "75px", "icon-search")
                .header__card
                    a(href="#").header__card-link
                        .header__card-coun 2
                        +img("src/blocks/header/assets/img/basket.png", "header__card-image", "Card")
                button.burger-menu
                    span.burger-menu__item
                    span.burger-menu__item
                    span.burger-menu__item