mixin product(image, name, desc, button)
    .product
        .product__image-wrapper
            +img("src/blocks/product/assets/img/"+image, "product__image", "Product")
        .product__content
            h4.product__name= name
            p.product__desc= desc
            a(href="#").button.button--gray= button

mixin productDesc(image, name)
    .product
        .product__image-wrapper
            +img("src/blocks/product/assets/img/"+image, "product__image", "Product")
        .product__image-desc
            p
                i.icon--arrow-top
                = name
            a(href="#")
                i.icon--arrow-top
                = name