.product
    .product__image-wrapper
        +img("src/blocks/product/assets/img/product-image1.jpg", "product__image", "Product")
    .product__content
        h4.product__name Classic Materials
        p.product__desc The materials in our classics range are all lovingly hand-crafted, with every quirk, imperfection and mottle telling a different recycling story. Each sustainable material has been tried and tested in a wide range of applications
        a(href="#").button.button--gray Classic range